:root{
    --main-color: #3562c4;
    --warning-color: #fa5050;
}

body{
  width: auto;
  margin: 0px;
  font-family: Helvetica;
}

.site-container{
  max-width: 1920px;
  margin: auto;
}

input{
  cursor: text !important;
}